<div class="container mt-5">
  <h2 class="text-center">{{ isEditMode ? 'Edytuj pojazd' : 'Dodaj pojazd' }}</h2>
  <form [formGroup]="rentCarForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="brand">Marka</label>
      <select id="brand" formControlName="brand" class="form-control" required>
        <option value="">Wybierz markę</option>
        <option *ngFor="let brand of brands" [value]="brand.id">{{ brand.name }}</option>
      </select>
      <div *ngIf="rentCarForm.get('brand').invalid && (rentCarForm.get('brand').touched || rentCarForm.get('brand').dirty)" class="text-danger">
        Marka jest wymagana.
      </div>
    </div>

    <div class="form-group">
      <label for="registrationNumber">Numer rejestracyjny</label>
      <input id="registrationNumber" formControlName="registrationNumber" class="form-control" placeholder="Wprowadź numer rejestracyjny" required>
      <div *ngIf="rentCarForm.get('registrationNumber').invalid && (rentCarForm.get('registrationNumber').touched || rentCarForm.get('registrationNumber').dirty)" class="text-danger">
        Numer rejestracyjny jest wymagany.
      </div>
    </div>

    <div class="form-group">
      <label for="vin">VIN</label>
      <input id="vin" formControlName="vin" class="form-control" placeholder="Wprowadź VIN" required>
      <div *ngIf="rentCarForm.get('vin')?.hasError('minlength') && rentCarForm.get('vin')?.touched" class="text-danger">
        VIN musi mieć przynajmniej 17 znaków.
      </div>
    </div>

    <div class="form-group">
      <label for="clientEmail">Email Klienta</label>
      <input id="clientEmail" formControlName="clientEmail" class="form-control" placeholder="Wprowadź adres email" required>
      <div *ngIf="rentCarForm.get('clientEmail').invalid && (rentCarForm.get('clientEmail').touched || rentCarForm.get('clientEmail').dirty)" class="text-danger">
        Proszę podać poprawny adres email.
      </div>
    </div>

    <div class="form-group">
      <label for="clientAddress">Adres Klienta</label>
      <input id="clientAddress" formControlName="clientAddress" class="form-control" placeholder="Wprowadź adres" required>
      <div *ngIf="rentCarForm.get('clientAddress').invalid && (rentCarForm.get('clientAddress').touched || rentCarForm.get('clientAddress').dirty)" class="text-danger">
        Adres jest wymagany.
      </div>
    </div>

    <div class="form-group">
      <label for="currentLocationAddress">Adres lokalizacji</label>
      <input id="currentLocationAddress" formControlName="currentLocationAddress" class="form-control" placeholder="Wprowadź adres lokalizacji">
    </div>

    <div class="form-group form-check">
      <input type="checkbox" id="isCurrentlyRented" formControlName="isCurrentlyRented" class="form-check-input">
      <label class="form-check-label" for="isCurrentlyRented">Obecnie wynajmowany?</label>
    </div>

    <button type="submit" class="btn btn-primary btn-block" [disabled]="rentCarForm.invalid">{{ isEditMode ? 'Aktualizuj' : 'Zapisz' }}</button>
  </form>
</div>

<ngx-loading [show]="loading"></ngx-loading>
