<div class="container mt-4">
  <h2 *ngIf="cars.length > 0">Lista pojazdów</h2>

  <div *ngIf="error" class="alert alert-danger mt-2">
    Wystąpił problem z załadowaniem pojazdów. Sprawdź swoje połączenie z internetem i spróbuj ponownie.
    <button class="btn btn-warning btn-sm ml-2" (click)="reloadVehicles()">Ponów próbę</button>
  </div>

  <div *ngIf="!loading && !error && cars.length === 0" class="alert alert-info mt-2">
    Brak pojazdów w systemie!
  </div>

  <div class="table-responsive" *ngIf="!loading && !error && cars.length > 0">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Marka</th>
        <th>Numer rejestracyjny</th>
        <th>VIN</th>
        <th>Email klienta</th>
        <th>Adres klienta</th>
        <th>Adres lokalizacji</th>
        <th>Obecnie wynajmowany?</th>
        <th>Akcje</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let car of cars; let i = index">
        <td>{{ car.id }}</td>
        <td>{{ car.brand.name }}</td>
        <td>{{ car.registrationNumber }}</td>
        <td>{{ car.vin }}</td>
        <td>{{ car.clientEmail }}</td>
        <td>{{ car.clientAddress }}</td>
        <td>{{ car.currentLocationAddress }}</td>
        <td>{{ car.currentlyRented ? 'Tak' : 'Nie' }}</td>
        <td>
          <div class="btn-group" role="group">
            <button class="btn btn-primary btn-sm" (click)="editVehicle(car.id)">Edytuj</button>
            <button class="btn btn-danger btn-sm ml-2" (click)="deleteVehicle(car.id)">Usuń</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ngx-loading [show]="loading"></ngx-loading>
